img{
    width:auto ;
    height: 200px;
}
h2{
    text-align: center;
}
body{
    border: 1px solid red;
    height: auto;
    padding: 10px;
    background-color: beige;
}

.about-p{
    background-color: red;
}

